* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--primary: hsl(191 96% 63%);
	--secondary: hsl(194 24% 56%);

	--black: hsl(191 96% 13%);
	--white: hsl(191 96% 93%);
}

header {
	width: 100%;
	line-height: 4rem;
	color: var(--primary);
	background-color: var(--black);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;

	& .menu-toggler {
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		display: none;
		cursor: pointer;

		& span {
			display: block;
			width: 3rem;
			height: .25rem;
			background-color: var(--white);
			margin: .25rem 0;
			transition: all 0.3s ease;
		}

		&.active {
			& span:nth-child(1) {
				transform: translateY(.7rem) rotate(45deg);
			}

			& span:nth-child(2) {
				scale: 1 8;
				opacity: 0;
			}

			& span:nth-child(3) {
				transform: translateY(-0.75rem) rotate(-45deg);
			}
		}

		@media (max-width: 768px) {
			display: flex;
		}
	}

	& nav {
		display: flex;
		align-items: center;

		& ul {
			display: flex;
			list-style: none;
			margin-left: 4rem;

			& li {
				margin: 0 1rem;
				transition: transform 0.4s ease;

				& a {
					text-decoration: none;
					color: var(--primary);
					font-weight: 500;
					font-size: 1.3rem;
					margin: 0 2rem;
					transition: color 0.3s ease;

					&:hover {
						color: var(--secondary);
					}
				}
			}
		}

		@media (max-width: 768px) {
			position: fixed;
			top: 0;
			width: 4rem;
			height: 4rem;
			border-radius: 4rem;
			z-index: 9999;
			background-color: var(--white);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			opacity: 0;
			right: 50px;
			pointer-events: none;
			transition: .4s;

			& ul {
				flex-direction: column;

				& li {
					margin: 1rem 0;
					transform: translate(100vw);

					& a {
						font-size: 1.5rem;
						margin: 0;
					}
				}
			}
		}
	}
}

.nav-open {
	& header {
		& nav {
			top: 4rem;
			border-radius: 0;
			right: 0;
			height: calc(100vh - 4rem);
			opacity: 1;
			pointer-events: all;
			width: 100%;
			background-color: var(--black);
			transition-property: top, right, width, height, border-radius, background-color;
			transition-duration: 2s, .5s, .5s, 1s, 1s, 1s;
			transition-delay: 0s, 0.5s, 0.75s, 1.5s, .5s, 1s;

			& .nav-link {
				transform: translate(0);
				transition: transform 0.4s ease var(--delay);
			}
		}
	}
}